* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg,rgba(0, 36, 10, 1) 0%, rgba(18, 121, 9, 1) 35%, rgba(77, 255, 23, 1) 100%);
}